* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#hero {
  width: 100%;
  height: auto;
  background-image: url("images/p1_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

#hero header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  margin: 0 auto;
  padding: 1% 3%;
}

#hero header .logo {
  width: 20%;
}

#hero header .logo img {
  width: 10vw;
  margin: 0 auto;
}

#hero header .navlinks {
  width: 70%;
}

#hero header .navlinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

#hero header .navlinks ul li {
  margin: 0 3%;
  font-size: 1vw;
  letter-spacing: 0.2vw;
}

#hero .content .chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15% 0;
}

#hero .content .chevron svg {
  width: 7vw;
  height: 7vw;
  color: #5e5d4b;
}

#hero .content .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .content .dots .active {
  color: #d0d83a;
}

#hero .content .dots svg {
  width: 1vw;
  height: 1vw;
  margin: 0 0.5%;
  color: #5e5d4b;
}

#about {
  padding: 10%;
  background-color: #7e9baa;
  text-align: center;
}

#about h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 3%;
}

#about p {
  color: #fff;
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 400;
}

#shop {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop h2 {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 400;
  color: #5e5d4b;
  margin-bottom: 3%;
}

#shop img {
  width: 30vw;
}

#shop .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  width: 100%;
}

#shop .slider .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin: 0 1%;
}

#shop .slider .product img {
  width: 100%;
}

#shop .slider .product h3 {
  color: #5e5d4b;
  font-weight: 400;
  padding: 7% 5%;
  font-size: 1.5vw;
}

#shop .slider .product p {
  color: #5e5d4b;
  font-weight: 400;
  font-size: 2vw;
  margin-bottom: 2%;
}

#shop .slider .product button {
  width: 100%;
  color: #fff;
  padding: 10% 0;
  margin-top: 5%;
  border: none;
  background-color: #d0d83a;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3vw;
}

#shop .slider svg {
  width: 7vw;
  height: 7vw;
  color: #5e5d4b;
}

#shop .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop .dots .active {
  color: #d0d83a;
}

#shop .dots svg {
  width: 2vw;
  height: 2vw;
  margin: 0 5%;
  color: #5e5d4b;
}

#careers {
  padding: 5% 10%;
  text-align: center;
}

#careers h3 {
  color: #5e5d4bff;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 400;
  margin-bottom: 3%;
}

#careers p {
  color: #5e5d4b;
  font-size: 1.4vw;
  line-height: 2.2vw;
  font-weight: 400;
  margin-bottom: 3%;
}

#careers .current-jobs h3 {
  font-size: 2vw;
  text-transform: capitalize;
}

#careers .current-jobs p {
  color: #d0d83a;
}

#pre-contact {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pre-contact .tweets {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pre-contact .tweets h3 {
  color: #5e5d4bff;
  font-size: 2.5vw;
  font-weight: 400;
}

#pre-contact .tweets .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 2%;
}

#pre-contact .tweets .title p {
  color: #7e9baa;
  font-size: 1.5vw;
}

#pre-contact .tweets .title svg {
  color: #00a2f5;
  width: 2vw;
  height: 2vw;
  margin: 0 5%;
}

#pre-contact .tweets .handle {
  margin-top: 1%;
  margin-bottom: 5%;
}

#pre-contact .tweets .handle p {
  color: #d0d83a;
  font-size: 1.5vw;
}

#pre-contact .tweets p {
  font-size: 1.5vw;
  color: #5e5d4bff;
}

#pre-contact .tweets img {
  margin-top: 10%;
  width: 100%;
}

#pre-contact .form {
  width: 50%;
}

#pre-contact .form h3 {
  color: #5e5d4bff;
  font-size: 2.5vw;
  font-weight: 400;
  margin-left: 10%;
}

#pre-contact .form form {
  width: 100%;
  background-color: #7e9baa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7%;
  margin-top: 5%;
}

#pre-contact .form form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 0;
}

#pre-contact .form form label span {
  color: #fff;
  padding: 1% 0;
  font-size: 1.2vw;
}

#pre-contact .form form label input {
  padding: 7% 2%;
  background-color: #748f99;
  border: 0.1vw solid #fff;
  outline: none;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 300;
}

#contact {
  background-color: #d0d83a;
}

#contact h3 {
  color: #5e5d4bff;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 400;
  background-color: #fff;
  text-align: center;
  padding-bottom: 3%;
}

#contact .info {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact .info .logo {
  width: 30%;
  border-right: solid 0.15vw #fff;
  padding: 4%;
}

#contact .info .logo img {
  width: 100%;
  border-radius: 50%;
}

#contact .info .details {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}

#contact .info .details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1% 0;
}

#contact .info .details div svg {
  width: 3vw;
  height: auto;
  color: #fff;
  margin: 0 3%;
}

#contact .info .details div p {
  color: #777528;
  font-size: 2vw;
}

#contact .info .details p {
  margin: 2% 3%;
  color: #777528;
  font-size: 1.5vw;
  line-height: 2.5vw;
}
/*# sourceMappingURL=index.css.map */